
:root{

    --primary-color: #0972ff;
     /* #003d99; */
    --secondary-color: #0083cd; 
    /* #0066ff; */
    --default-color: #999;
    --third-color: rgb(184, 184, 187);
    --light-color: #eee;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--secondary-color);
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background-color: var(--light-color);
}
section{
    padding: 2rem 9%;
    margin-top: auto;
    min-height: 90vh;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
    background: none;
}
.btn:hover{
    background: var(--primary-color);
    color: var(--white);
    border: .2rem solid var(--primary-color);
}
.green{
    border: .2rem solid var(--third-color);
}
.green:hover{
    background: var(--third-color);
    border: .2rem solid var(--third-color);

}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--secondary-color);
}
.heading span{
    background: var(--primary-color);
    color: var(--white);
    display: inline-block;
    padding: .5rem 3rem 2.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 30% 75%, 10% 100%, 10% 75%, 0% 75%);
}

.heading-one {
    text-align: center;
    padding: 2rem 0;
    font-size: 3.5rem;
    color: var(--secondary-color);
}
.heading-one span{
    background: var(--primary-color);
    color: var(--white);
    display: inline-block;
    padding: .5rem 3rem 2.5rem;
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background:var(--white);
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--secondary-color);

}
.header .logo i{
    color: var(--primary-color);
}
.header .logo img{
    width: 4rem;
    height: 4rem;
    padding: none;
}
.header .logo span{
    line-height: 1.8rem;
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--secondary-color);

}
.header .navbar a i{
    display: none;
}
.header .navbar a:hover{
    color: var(--primary-color);
}
.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: var(--light-color);
    color: var(--secondary-color);
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
    cursor: pointer;
}
.header .icons div:hover{
    background: var(--primary-color);
    color: var(--white);
}
#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: var(--white);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right: 2rem;
    transition: .3s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--secondary-color);
    padding: 0 1.5rem;
}
.header .search-form input:focus{
    border-bottom: .1rem solid var(--third-color);
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--primary-color);
}
.header .shopping-cart{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: var(--white);
}
.header .shopping-cart.active{
    right: 2rem;
    transition: .3s linear;
}
.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.header .shopping-cart .box img{
    height: 10rem;
}
.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--default-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
    color: var(--primary-color);
}
.header .shopping-cart .box .content h3{
    color: var(--secondary-color);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.header .shopping-cart .box .content span{
    color: var(--default-color);
    font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity{
    padding: 1rem;
}
.header .shopping-cart .total{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--secondary-color);
}
.header .shopping-cart .checkout-btn{
    display: block;
    text-align: center;
    margin: 1rem;
}
.registarion{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
 
    
}
.registration-banner{
    background: url(../img/bg1.jpg) no-repeat; background-position: center; background-size: cover;
    height: auto;
    width: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}
.registration-banner .reviews{
    text-align: center;
    background: var(--white);
    width: 30rem;
    font-size: 2.2rem;
    border-radius: .5rem;
    outline: var(--outline);
    outline-offset: -1.5rem;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.registration-banner .reviews:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}
.registration-banner .reviews p{
    text-align: left;
    text-transform: none;
}
.form{
    height: 100vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;

}
.forms{
    /*width: 30rem;*/
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--white);
    text-align: center;
    
   
}
.forms label{
    display: block;
    text-align: left;
    color: var(--secondary-color);
    font-size: 1.7rem;
}
.forms h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    border-bottom: var(--border);
    padding-bottom: 2rem;
}
.forms form{
    margin-top: 5rem;
}
.forms .input-box{
    width: 100%;
    margin: .7rem 0;
    background: var(--light-color);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--secondary-color);
    text-transform: none;
}
.forms .input-box:focus{
    border-bottom: .1rem solid var(--secondary-color);
}

.profile-edit{
    margin-top: 3rem;

}
.mycart{
    margin-top: 3rem;

}
.mycart h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    /*border-bottom: var(--border);*/
    padding-bottom: 2rem; 
}
.mycart.shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.mycart.shopping-cart .box img{
    
    max-height: 5rem;
}

.mycart.shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--default-color);
    transform: translateY(-50%);
}
.mycart.shopping-cart .box .fa-trash:hover{
    color: var(--primary-color);
}
.mycart.shopping-cart .box .content h3{
    color: var(--secondary-color);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.mycart.shopping-cart .box .content span{
    color: var(--default-color);
    font-size: 1.6rem;
}
.mycart.shopping-cart .box .content .quantity{
    padding: 1rem;
}
.mycart.shopping-cart .total{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--secondary-color);
}
.mycart.shopping-cart .checkout-btn{
    display: block;
    text-align: center;
    margin: 1rem;
}

.login{
    display: flex;
    justify-content: center;
    padding: 9.5rem;
}
.login .forms{
    width: 35rem;
    height: auto;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--white);
    text-align: center;
    
   
}
.login .forms label{
    display: block;
    text-align: left;
    color: var(--secondary-color);
    font-size: 1.7rem;
}
.login .forms h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    border-bottom: var(--border);
    padding-bottom: 2rem;
}
.login .forms form{
    margin-top: 5rem;
}
.login .forms .input-box{
    width: 100%;
    margin: .7rem 0;
    background: var(--light-color);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--secondary-color);
    text-transform: none;
}
.login .forms .input-box:focus{
    border-bottom: .1rem solid var(--secondary-color);
}
.header .login-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--white);
    text-align: center;
}
.header .login-form.active{
    right: 2rem;
    transition: .3s linear;
}
.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.header .login-form .input-box{
    width: 100%;
    margin: .7rem 0;
    background: var(--light-color);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--secondary-color);
    text-transform: none;
}
.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--default-color);
    text-align: left;
}
.header .login-form p a{
    color: var(--primary-color);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/natan304 BDTP banner.png) no-repeat; 
    background-color: var(--default-color);
    background-position: center;
    background-size: cover;
    padding-top: 27rem;
    padding-bottom: 17rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 30% 95%, 0 100%);
    /*-webkit-clip-path: circle(62.0% at 50% 34%); 
    clip-path: circle(62.0% at 50% 34%);*/


}
.home video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 1;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.home .content{
    text-align: center;
    width: 60rem;
    z-index: 99;
}
.home .content h3{
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 600;
    text-shadow: .1rem .1rem .1rem black;
}
.home .content h3 span{
    color: var(--white);
    
}
.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}
.dashboard{
    padding: 15rem;
}
.dashboard .analytics{
    background: var(--white);
    padding: 1.5rem;
}
.dashboard .analytics .title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: center;
    text-shadow: var(--box-shadows);
}
.dashboard .analytics .box-container .box:nth-child(odd){
    background: var(--light-color);
    

}
.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 1.5rem;

}
.dashboard .box-container .box{
    background: var(--white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: var(--box-shadow);

}
.dashboard .box-container .box:hover{

    outline: var(--outline-hover);
    outline-offset: 0rem;
    
}
.dashboard .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
    
}
.dashboard .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--secondary-color)
}
.dashboard .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--default-color);
    padding: 1rem 0;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 5rem;
    background: var(--white);
    font-size: 1.5rem;
    padding: 1.5rem;
    overflow-y: auto;

}
.sidebar .sidemenu{
    padding: 9rem 0;
    width: 30rem;
    display: none;
}
.sidebar .sidemenuicon{
    display: none;
}
.sidebar .sidemenuicon.active{
    padding: 9rem 0;
    display: inline-block;
    
}
.sidebar .sidemenuicon a{
    display: block;
    margin-top: 2.1rem;
    color: var(--primary-color);
    border-bottom: var(--border);
}
.sidebar .sidemenu a{
    display: block;
    padding: 1.1rem;
    margin: 1.1rem;
    color: var(--primary-color);
    border-bottom: var(--border);

}
.sidebar .sidemenu a:hover{
    background: var(--light-color);
}
.sidebar .sidemenu.active{
    display: block;
}

.sidebar .brand{
    position: absolute;
    bottom: 0;
    color: var(--default-color);
    text-shadow: var(--box-shadow);


}
#sidemenu-btn{
    margin-top: 9rem;

    float: right;
    color: var(--default-color);
    cursor: pointer;
}




.customers .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
}
.customers .box-container .box{
    background: var(--white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: var(--box-shadow);

}
.customers .box-container .box:hover{

    outline: var(--outline-hover);
    outline-offset: 0rem;
    
}
.customers .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
    
}
.customers .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--secondary-color)
}
.customers .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--default-color);
    padding: 1rem 0;
}


.services .box-container .service{
  padding: 9rem 1.5rem;
}

.services .box-container .service .col-container:after {
    content: "";
    display: table;
    clear: both;
}

.services .box-container .service .col-container .column-one {
    float: left;
    width: 59.66666%;
    background: var(--white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    border-top-right-radius: 16rem;
    border-top-left-radius: 16rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1.5rem;
    padding: 3rem 3rem 20.5rem;
    

}
.services .box-container .service .col-container .column-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    width: 39.33333%;
    height: 100%;
    padding: 6.9rem 10.3rem;
    height: 80vh;
    background: url('../img/Smart PhoneNatan304.png') no-repeat; background-position: center; background-size: contain;
}
.services .box-container .service .col-container .column-one:nth-child(odd){
    
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);


}
.services .box-container .service .col-container .column-one:nth-child(even){
    
   clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 30% 75%, 10% 100%, 10% 75%, 0% 75%);

}
.services .box-container .service .col-container .column-one:hover{

    outline: var(--outline-hover);
    outline-offset: -.3rem;
    /*animation: Swing 1s .2s;*/
    
}
.services .box-container .service .col-container .column-two .imgs {
    overflow: auto;
    height: 100%;
}
.services .box-container .service .col-container .column-two .imgs img{
    max-width: 100%;
}

.services .box-container .service .col-container .column-one p{
    font-size: 1.5rem;
    padding: 3rem;
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: left;
}

.services .box-container .service .col-container .column-one h3{
    font-size: 3rem;
    padding: 3rem;
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: left;
}
.services .box-container .box{
    background: var(--white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    border-radius: 16rem;
    padding: 3rem 2rem;
    box-shadow: var(--box-shadow);
    width: 60%;
    margin-bottom: 1.5rem;

}
.services .box-container .box:hover{

    outline: var(--outline-hover);
    outline-offset: 0rem;
    /*animation: Swing 1s .2s;*/
    
}
.services .box-container .serv-img {
    outline-offset: -1rem;
    text-align: center;
    border-radius: 16rem;
    padding: 3rem 3rem;
    width: 35%;
    margin-bottom: 1.5rem;
    
    
}
.services .box-container .serv-img:hover{

    outline: var(--outline-hover);
    outline-offset: 0rem;
}
.services .box-container .serv-img img{
    margin: 1rem 0;
    width: 100%;
    height: auto;
    
}
.services .box-container .serv-img:{
}

.services .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--secondary-color)
}
.services .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--default-color);
    padding: 1rem 0;
}
.services .box-container .box:{
}

.transit
{
  position: relative;
  right: 0;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.transit header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transit header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.transit.active
{
  right: 300px;
}

.transit video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.transit .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.transit .text
{
  position: relative;
  z-index: 10;
}

.transit .text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.transit .text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.transit .text p
{
  font-size: 1.6em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.transit .text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.transit .text a:hover
{
  letter-spacing: 6px;
}
.transit .social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
.transit .social li
{
  list-style: none;
}
.transit .social li a
{
  display: inline-block;
  margin-right: 20px;
  color: var(--primary-color);
  filter: invert(0.5);
  transform: scale(0.5);
  transition: 0.5s;
}
.transit .social li a:hover
{
  transform: scale(0.6) translateY(-20px);
}


.review{
    background: linear-gradient( 45deg, var(--secondary-color), var(--secondary-color)); 
    
}


.review .review-slider .box{
    background: var(--white);
    /* border-radius: .5rem; */
    border-radius: 3rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: .3s linear;

}
.review .review-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
    border-radius: unset;
    transform: scale(1.1,1.1);
    box-shadow: .3rem .3rem 1.6rem .3rem var(--default-color);
}

.review .review-slider .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 1.5rem;
}
.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: .4rem dotted aqua;
    animation: Rotate infinite 3s;
}
@keyframes Swing {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(35deg);

    }
  
    100%{
        transform: rotate(-35deg);
    }
}
@keyframes Rotate {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }

/* 
    0% {
        transform: rotate(0deg);
      }
    12.5% {
        transform: rotate(90deg);
      }
    25%{
        transform: rotate(180deg)
    }

    37.5%{
        transform: rotate(270deg)
    }
    50%{
        transform: rotate(360deg);
    }
    62.5% {
        transform: rotate(270deg);
      }

    75% {
        transform: rotate(180deg);
      }

    87% {
        transform: rotate(90deg);
      } */

  } 
    
.review .review-slider .box p{
    font-size: 1.5rem;
    color: var(--default-color);
    line-height: 1.8rem;
    padding: 1rem 0;
}
.review .review-slider .box h3{
    padding-bottom: .5rem;
    font-size: 2.2rem;
    color: var(--secondary-color);
}
.review .review-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--primary-color);
}

.footer{
    background: var(--white);
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}
.footer .box-container .box .footer-logo span{
    font-size: 6rem;
    color: var(--primary-color);
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--secondary-color);
    padding: 1rem 0;
    border-bottom: .1rem solid var(--third-color);
    text-align: center;
}

.footer .box-container .box h3 i{
    color: var(--primary-color);
}
.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--default-color);
    padding: 1rem 0;

}
.footer .box-container .box .links i{
    color: var(--primary-color);
    padding: .5rem;

}
.footer .box-container .box .links:hover i{
    padding: 2rem;
    color: var(--third-color);

}
.footer .box-container .box p{
    line-height: 1.8rem;
    font-size: 1.5rem;
    color: var(--default-color);
    padding: 1rem 0;
}
.footer .box-container .box .share a {
    color: var(--secondary-color);
    border-radius: .5rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background: var(--light-color);
    text-align: center;

}

.footer .box-container .box .share a:hover{
    background: var(--primary-color);
    color: var(--white);
}
.footer .box-container .box .email{
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--light-color);
    font-size: 1.6rem;
    text-transform: none;
    width: 100%;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    /* height: 3rem; */
    width: 100%;
}
.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--primary-color);
    border-top: var(--border);
}
.footer .credit span{
    color: var(--default-color);
}
.footer .credit span.company{
    color: var(--secondary-color);
}


@media screen and (max-width:991px) {
    html{
        font-size: 55%;
        
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media screen and (max-width: 800px) {
  
}

@media screen and (max-width:768px) {
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--white);
    }
    .header .navbar.active{
        right: 2rem;
        transition: .3s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .header .navbar a i{
        display: inline-block;
    }
    .header .search-form{
        width: 90%;
    }
    #menu-btn{
        display: inline-block;
    }
    .registartion {
        padding-left: 0;
    }
    .registration-banner{
        position: absolute;
        z-index: 1;

    }
    .registarion .forms {
        position: absolute;
        z-index: 99;
        width: 40rem;
        
    }
    .login-form {
        position: absolute;
        z-index: 99;
        width: 40rem;
        
    }
    .registration-banner .reviews{
        display: none;
    }
    .review .review-slider .box:hover{

        transform: scale(1,1);

    }
    .services .box-container .service .col-container .column-one,
    .services .box-container .service .col-container .column-two {
        width: 100%;
        text-align: center;
    }
    .services .box-container .service .col-container .column-two img {
        margin: auto;
    }
    .services .box-container .service .col-container .column-two {
        background: none;
        overflow: visible;
        padding: 1.5rem;
    }
    .dashboard{
        padding: 9rem 6rem;
    }
    /* .registarion .form{
        position: relative;
        z-index: 99;  
    } */
}

@media (max-width:450px) {
    html{
        font-size: 50%;
        
    }
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }
}